node_modules/
.cache/
public
.env
.DS_STORE

# Local Netlify folder
.netlify

# TypeScript incremental build cache
*.tsbuildinfo

# Generated Partytown library files
static/~partytown/

src/gatsby-types.d.ts