.footer-div {
  background-color: var(--color-bg-primary);
  overflow: auto;
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 10em;
}

@media only screen and (min-width: 768px) {
  .footer-div {
    padding: 30px
  }
}

@media only screen and (max-width: 768px) {
  .footer-div {
    padding: 15px 15px 100px 15px;
  }
}

.links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.links li {
  padding: 10px 20px;
}

.links a {
  font-size: 1.5em;
  color: inherit;
  text-decoration: none;
}

.links a:hover {
  opacity: 0.8;
}