.masonry {
  padding: 1rem;
  margin-bottom: 30px !important;
  margin: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .masonry {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .arrowDiv {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .masonry {
    width: 100%;
    max-width: 1200px;
    column-count: 3;
    column-gap: 1rem;
  }
}

.titleDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrowDiv {
  padding: 0rem 3rem;
}