.masonry {
  padding: 1rem;
  margin-bottom: 30px !important;
  margin: auto;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .masonry {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .arrow-div {
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .masonry {
    height: 85vh;
    max-height: 100vw;
    max-width: 130vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(14, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

.title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrow-div {
  padding: 0rem 3rem;
}